NINEPAY_MERCHANT_KEY=
NINEPAY_SECRET_KEY=
NINEPAY_CHECKSUM_KEY=
NINEPAY_ENDPOINT=https://sand-payment.9pay.vn
FIREBASE_PROJECT_ID=digivisa
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
SYNC_SECRET=

LARK_APP_ID=
LARK_APP_SECRET=
LARK_BASE_APP_TOKEN=
LARK_BASE_TABLE_ID=
LARK_CHAT_ID=
LARK_DOMAIN=
